---
import Layout from '../components/Layout.astro';
import '../styles/global.css';

const pageTitle = "About Me";

const identity = {
    name: "Violet Monserate",
    country: "USA",
    state: "Washington",
    city: "Seattle",
    pronouns: "any/all",
    age: 20,
    occupation: "Computer Engineering and Philosophy: Ethics student",
    hobbies: [
        "bird watching",
        "cooking",
        "baking",
        "board games",
        "video games",
        "programming"
    ]
};

const skills = [
    "Java",
    "Python",
    "C/C++",
    "HTML",
    "CSS",
    "JavaScript",
    "TypeScript",
    "React",
    "Astro",
    "Google Suite"
];

const happy = false;
const finished = false;
var goal = 2;

const bulletColor = "green";
---

<html lang="en">
    <Layout {pageTitle}>
        <h1>{pageTitle}</h1>

        <p>Here's a little bit about me: </p>
        <ul>
            <li>My name is {identity.name}</li>
            <li>My pronouns are ({identity.pronouns})</li>
            <li>I live in {identity.city}, {identity.state}, {identity.country}</li>
            <li>I am {identity.age} years old</li>
            <li>I am a {identity.occupation}</li>
            <li>My hobbies include:</li>
            <ul>
                {identity.hobbies.map(hobby => (
                    <li class="bullet">{hobby}</li>
                ))}
            </ul>
            <li>My skills include:</li>
            <ul>
                {skills.map(skill => (
                    <li class="bullet">{skill}</li>
                ))}
        </ul>
        {happy ? <p>I'm happy!</p> : <p>I'm sad :(</p>}

        {finished && <p>I finished this tutorial!</p>}

        {goal === 3 ? <p>My goal is to finish this in 3 days.</p> : <p>My goal finish time is <strong> NOT</strong> 3 days.</p>}
        
    </Layout>
</html>
