---
import Layout from "@components/Layout.astro";

import "../styles/global.css";
import ContactForm from "@components/ContactForm.astro";

const pageTitle = "Contact Me";
const ogType = "website";
const ogDescription =
    "Get in touch with Violet Monserate — send a message/email, request a collaboration, or just say hi.";
const seoDescription =
    "Want to email, collaborate, contact, ask a question, or get in touch? Use the contact form to reach Violet Monserate directly.";
---

<Layout {pageTitle} {ogType} {ogDescription} {seoDescription}>
    <h1>{pageTitle}</h1>
    <p>
        Want to send a message, request a collaboration, or just say hi? Sure, you could <a href="mailto:violetmonserate@gmail.com">send me an email</a> or <a href="https://www.linkedin.com/in/violet-monserate/">message me on LinkedIn</a>, but you could use my fancy-schmancy <em>contact form</em>.
    </p>
    <ContactForm />

</Layout>
