---
import Layout from "@components/Layout.astro";
import "../styles/index.css";

import headshot from "@assets/monserate-headshot.png";
import { Image } from "astro:assets";
const pageTitle = "Home";
const ogType = "website";
const ogDescription =
	"Take a peek at student and developer Violet Monserate, from her studies at UW to personal projects";
const seoDescription =
	"Meet Violet Monserate: studying Computer Engineering, Philosophy: Ethics at University of Washington interested in education, robotics, and accessibility";
---

<Layout {pageTitle} {ogType} {ogDescription} {seoDescription}>
	<div id="content">
		<Image
			id="headshot"
			src={headshot}
			alt="Headshot of Violet Monserate, a brown woman with long black hair, playing cello"
		/>
		<div id="left">
			<h1>
				Violet Monserate
				<strong>(she/they)</strong>
			</h1>
			<h2>
				Computer Engineering and Philosophy: Ethics Student
			</h2>
			<p class="blurb">
				Welcome to my website! This is a place where I will
				posting my projects, contact info, and other things I find
				interesting. Feel free to explore, and feel free to contact
				me below. I love hearing from folks!
			</p>
			<a href="/projects" class="button">Projects</a>
			<a href="/contact" class="button">Contact Me</a>
		</div>

	</div>
</Layout>
