---
import type { MarkdownInstance } from "astro";
import Layout from "@components/Layout.astro";
import Card from "../components/Card.astro";

import "../styles/global.css";
import CardGrid from "@components/CardGrid.astro";

const pageTitle = "Projects";
const ogType = "website";
const ogDescription =
    "See the progression of Violet Monserate's projects, spanning both hardware and software";
const seoDescription =
    "See Violet Monserate's full-stack and hardware projects using advanced topics in Java, C++, Inventor, Verilog, Github, Javascript, React, Astro";
---

<Layout {pageTitle} {ogType} {ogDescription} {seoDescription}>
    <h1>{pageTitle}</h1>
    <CardGrid />
</Layout>
