---
import type { MarkdownInstance } from 'astro';
import Layout from "../components/Layout.astro";
import Card from "../components/Card.astro";

import "../styles/global.css";

interface Frontmatter {
    title: string;
    image: string;
    description: string;
    startDate: string;
    finishDate: string;
}
const matches = 
    import.meta.glob<MarkdownInstance<Frontmatter>>("./projects/*.md", { eager: true });
const allProjects = Object.values(matches).sort((a, b) => {
    return new Date(b.frontmatter.startDate).getTime() - new Date(a.frontmatter.startDate).getTime();
});
const pageTitle = "Projects";
const ogType = "website";
const ogDescription  = "See the progression of Violet Monserate's projects, spanning both hardware and software";
const seoDescription = "See Violet Monserate's full-stack and hardware projects using advanced topics in Java, C++, Inventor, Verilog, Github, Javascript, React, Astro";

---

<Layout {pageTitle} {ogType} {ogDescription} {seoDescription}>
    <h1>{pageTitle}</h1>
    <div class = "card-container">
        {allProjects.map((project) => (
                <Card
                    title={project.frontmatter.title}
                    image={project.frontmatter.image}
                    description={project.frontmatter.description}
                    link={project.url}
                    startDate={project.frontmatter.startDate}
                    finishDate={project.frontmatter.finishDate}

                />
        ))}
    </div>
</Layout>
