---
import { getCollection } from "astro:content";
import "./CardGrid.css";
import Card from "./Card.astro";

const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => {
    // If one activity is ongoing, and the other isn't, then onging activity is first
    if (!a.data.finishDate && b.data.finishDate) {
        return -1;
    }
    if (a.data.finishDate && !b.data.finishDate) {
        return 1;
    }

    // Then sort by start date
    return b.data.startDate.getTime() - a.data.startDate.getTime();
});
---

<div class="card-container">
    {
        sortedProjects.map((project) => (
            <Card
                title={project.data.title}
                image={project.data.image.src}
                alt={project.data.image.alt}
                description={project.data.description}
                link={`/projects/${project.id}`}
                startDate={project.data.startDate}
                finishDate={project.data.finishDate}
                icons={project.data.icons}
            />
        ))
    }
</div>
