---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import "./Card.css";

function formatDate(date : string) {
    if (date == null || date === "current") {
        return "current";
    }
    const dateObject = new Date(date);
    return (dateObject.getUTCMonth() + 1) + "/" + dateObject.getUTCFullYear();
}

const { link, title, startDate, finishDate, image, alt, description } = Astro.props;

const dateString = formatDate(startDate) + " - " + formatDate(finishDate); 
---

<a href={link} class="card-link">
<div class="card">
    <Image class="card-image" src={image} alt={alt} loading="eager"/>
    <h2 class="card-header"><b>{title}</b></h2>
    <p class ="card-date">{dateString}</p>
    <p class="card-text">{description}</p>
</div>
</a>